{{!< default}}




<div class="site-header-content outer">
    <div class="site-header-inner">
        <div class="hero-logo-container">
        <img src="{{asset "images/logo.png"}}" loading="lazy" class="hero-logo">
    </div>
       
        <div class="logo-text-container">
            <div class="logo-text">
            <img src="{{asset "images/gymstreaklogo.svg"}}" loading="lazy" alt="" class="image">
            <div class="text-block">5</div>
        </div>
</div>
  
        <h1 class="site-title">{{t "Herotext"}}</h1>
        <p class="subtext">{{t "Subtext"}}</p>
        <div class="hero-buttons">
        <button class="gh-head-button">{{t "<a href='https://gymstreak.com'>Download iOS</a>"}}</button>
        <button class="gh-head-button">{{t "<a href='https://gymstreak.com'>Download Android</a>"}}</button>
        </div>
    </div>
</div>



<main id="main" class="main">
    <section>
        <div class="hero-iphone-container">
    <div class="hero-iphone-holder">
     <!-- iPhone 1 -->
    <div class="iphone-holder _02">
        <img src="{{asset "images/black_iphone.png"}}" alt="iPhone Image" class="iphone-image">
        <div class="iphone-screen-container">
            <img src="{{asset "images/1.png"}}" alt="iPhone Screen Image" class="iphone-screen-image">
        </div>
    </div>

    <!-- iPhone 2 -->
    <div class="iphone-holder _03">
        <img src="{{asset "images/blue_iphone.png"}}" alt="iPhone Image" class="iphone-image">
        <div class="iphone-screen-container">
            <img src="{{asset "images/2.png"}}" alt="iPhone Screen Image" class="iphone-screen-image">
        </div>
    </div>

    <!-- iPhone 3 -->
    <div class="iphone-holder _04">
        <img src="{{asset "images/black_iphone.png"}}" alt="iPhone Image" class="iphone-image">
        <div class="iphone-screen-container">
            <img src="{{asset "images/3.png"}}" alt="iPhone Screen Image" class="iphone-screen-image">
        </div>
    </div>

    <!-- iPhone 4 -->
    <div class="iphone-holder _05">
        <img src="{{asset "images/blue_iphone.png"}}" alt="iPhone Image" class="iphone-image">
        <div class="iphone-screen-container">
            <img src="{{asset "images/4.png"}}" alt="iPhone Screen Image" class="iphone-screen-image">
        </div>
    </div>

    <!-- iPhone 5 -->
    <div class="iphone-holder _06">
        <img src="{{asset "images/black_iphone.png"}}" alt="iPhone Image" class="iphone-image">
        <div class="iphone-screen-container">
            <img src="{{asset "images/5.png"}}" alt="iPhone Screen Image" class="iphone-screen-image">
        </div>


                </div>
            </div>
        </div>
    </section>
    <section class="footer-cta outer">
        <div class="inner">
           <h2 class="footer-cta-title">{{t "Latest Posts"}}</h2>
        </div>
    
            

    {{#if @custom.show_recent_posts_footer}}
    {{!-- The {#get} helper below fetches some of the latest posts here
    so that people have something else to read when they finish this one.

    This query gets the latest 3 posts on the site, but adds a filter to
    exclude the post we're currently on from being included. --}}
        {{#get "posts" limit="3" as |more_posts|}}

            {{#if more_posts}}
                <aside class="read-more-wrap outer">
                    <div class="read-more inner">
                        {{#foreach more_posts}}
                            {{> "post-card"}}
                        {{/foreach}}
                    </div>
                </aside>
            {{/if}}

        {{/get}}
    {{/if}}


    
    </section>
</main>